<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>hh</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_hh</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ht</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appIcon_ht</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>kt</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_kt</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lg</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_lg</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lt</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_lt</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>nc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_nc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ob</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_ob</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sk</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_sk</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ss</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_ss</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>wo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_wo</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Thin.otf</string>
		<string>Freshman.ttf</string>
	</array>
</dict>
</plist>
